<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add a Bird</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="page-body add-edit-page">
        <h1 class="page-title">Add a Bird</h1>
        <form action="/users/<%= user._id %>/birds" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required/><br><br>
            <label for="location">Location:</label>
            <input type="text" name="location" id="location" required/><br><br>
            <label for="date">Date:</label>
            <input type="date" name="date" id="date" required/><br><br>
            <label for="seenBird">I have seen this bird</label>
            <input type="checkbox" name="seenBird" id="seenBird" /><br><br>
            <label for="image">Image:</label> <small>(Must be URL with .png, .gif, .jpg or .jpeg extension)</small><br>
            <input type="url" name="image" id="image" /><br><br>
            <label for="rating">How would you rate this Sighting?:</label>
            <select name="rating" id="rating">
                <option value="blank"></option>
                <option value="5">5 Stars</option>
                <option value="4.5">4.5 Stars</option>
                <option value="4">4 Stars</option>
                <option value="3.5">3.5 Stars</option>
                <option value="3">3 Stars</option>
                <option value="2.5">2.5 Stars</option>
                <option value="2">2 Stars</option>
                <option value="1.5">1.5 Stars</option>
                <option value="1">1 Stars</option>
                <option value="0.5">0.5 Stars</option>
                <option value="0">0 Stars</option>
            </select><br><br>
            <label for="comments">Comments:</label> <small>(Max. 800 characters)</small><br>
            <textarea name="comments" id="comments" rows="10" cols="80" maxlength="800"></textarea><br><br>
            <button type="submit" id="add-button">Add New Sighting</button>
        </form>
    </div>
</body>
</html>