<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Bird</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a Bird</h1>
    <form action="/users/<%= user._id %>/birds" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" /><br><br>
        <label for="location">Location:</label>
        <input type="text" name="location" id="location" /><br><br>
        <label for="date">Date:</label>
        <input type="date" name="date" id="date" /><br><br>
        <label for="seenBird">Have you seen it?</label>
        <input type="checkbox" name="seenBird" id="seenBird" /><br><br>
        <label for="image">Image:</label>
        <input type="url" name="image" id="image" /><br><br>
        <label for="comments">Comments:</label>
        <textarea name="comments" id="comments" size="500"></textarea><br><br>
        <button type="submit">Add New Sighting</button>
    </form>
</body>
</html>