<nav>
    <a href="/">Home</a>
    <% if (user) { %>
    <a href="">My Life List</a>
    <a href="">The Flock</a>
    <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up">Sign Up</a>
    <% } %>
</nav>