@import url('https://fonts.cdnfonts.com/css/uber-move-text');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


nav {
    top: 0;
    background-color: #27343c;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

#home-container {
    flex: 1;
}

#home-button {
    font-family: 'Uber Move Text', 'Courier New', Courier, monospace;
    font-size: 150%;
    color: white;
    text-decoration: none;
    border: groove rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 5px;
}

#functions {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 10px;
    align-items: center;
    text-align: center;
    margin-right: 500px; 
}

#functions a {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 120%;
    text-decoration: none;
}

.white-link, #sign-up {
    color: white;
}

#sign-up {
    background-color: #0373e2;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

#sign-up:hover {
    background-color: #0a447e;
}