@import url('https://fonts.cdnfonts.com/css/uber-move-text');
@import url('https://fonts.cdnfonts.com/css/bluebird');
@import url('https://fonts.cdnfonts.com/css/bluebird');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-image: url('../images/21200703.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

#home-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

#welcome {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin-top: -250px;
}

#app-name {
    font-family: 'Uber Move Text', 'Courier New', Courier, monospace;
    font-size: 240px;
    font-weight: normal;
    color: black;
    opacity: 0;
    animation: fadeInRight 2s forwards;
}

@keyframes fadeInRight {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.page-body {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.db-page, .user-list, #community-container {
    background-color: white;
    border: none;
    border-radius: 20px;
    width: 40%;
}

#community-container {
    background-color: rgba(144,238,144,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.user-list {
    width: 45%;
}

#flock-title {
    font-size: 500%;
    margin-bottom: 0%;
}

.page-title {
    font-family: 'Uber Move Text', 'Courier New', Courier, monospace;
}

.accounts-page {
    background-color: #deb887;
    width: 20%;
    padding: 20px;
    border: none;
    border-radius: 20px;
}

.main-page {
    opacity: 0;
    animation: revealContent 1s forwards;
    animation-delay: 1.5s;
    position: relative;
}

@keyframes revealContent {
    to {
        opacity: 1;
    }
}

.credentials {
    display: flex;
    flex-direction: column;
}

.accounts-button {
    margin: 10px auto 0 auto;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 80%;
    font-size: 120%;
}

.accounts-button:hover {
    background-color: #06402b;
}

.accounts-button:active, #profile-pic-edit-button:active, #add-link:active, #edit-link:active, #add-button:active, #edit-button:active, .delete-button:active {
    transform: translateY(5px);
}

img {
    border: none;
    border-radius: 10px;
}

.user-data, .rest-of-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 30%;
    border: none;
    border-radius: 20px;
}

.user-data {
    margin-top: 0;
    background-color: #fbedd2;
    gap: 10px;
}

.rest-of-profile {
    margin-top: 20px;
    background-color: #fbedd2;
}

.username-and-pic {
    display: flex;
    align-items: center;
    gap: 10px;
}

#user-list {
    margin: 10px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.flying-birds {
    animation: flyRight 3s forwards;
    position: fixed;
    top: 100px;
    left: 0px;
    z-index: 2;
}

@keyframes flyRight {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(80vw);
    }
    
}

hr {
    border: groove;
    width: 500px;
}

.delete-button {
    background-color: red;
    border: none;
    border-radius: 10px;
    font-family: 'Bluebird', Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-size: 120%;
    margin-top: -10%;
}

.delete-button:hover {
    background-color: darkred;
}

.add-edit-page {
    background-color: #fbedd2;
    border: none;
    border-radius: 20px;
    width: 45%;
    margin-top: 7%;
    padding-bottom: 20px;
}

#add-button, #edit-button {
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    font-family: 'Bluebird', 'Courier New', Courier, monospace;
    font-size: 120%;
    margin-top: -10%;
}

#add-button:hover, #edit-button:hover {
    background-color: darkblue;
}

.show-page {
    background-color: #fbedd2;
    border: none;
    border-radius: 10px;
    width: 40%;
    padding-bottom: 10px;
}

#profile-pic-edit-button {
    background-color: blue;
    border: none;
    border-radius: 10px;
    font-family: 'Bluebird', Arial, Helvetica, sans-serif;
    color: white;
    cursor: pointer;
    padding: 10px;
}

#profile-pic-edit-button:hover {
    background-color: darkblue;
}

#profile-pic-edit-button:active {
    transform: translateY(5px);
}

.user-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

a, .sub-title, #pic-link {
    font-family: 'Bluebird', 'Courier New', Courier, monospace;
}

#edit-link, #add-link {
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

#edit-link:hover, #add-link:hover {
    background-color: darkblue;
}

p, label, .comments-container, li {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.pic-page {
    background-color: #999999;
    border: none;
    border-radius: 20px;
    padding: 10px;
    width: 30%;
}

#pic-link {
    background-color: purple;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px;
}

#pic-link:hover {
    background-color: #301934;
}

.species {
    font-family: 'Lato', 'Courier New', Courier, monospace;
}

small {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.user-birds, .bird-name {
    font-size: 150%;
}