<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Flock</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Take a look at our other users and their life lists!</h1>
    <ul>
        <% users.forEach((user) => { %>
            <li><p><%= user.username %></p></li>
        <% }) %>
    </ul>
</body>
</html>